<!DOCTYPE html>
<html>
<head>
<title>Web_Bash For Guys</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="搞基大队专用">
<meta name="description" content="搞基大队专用命令行web_bash界面。可移动的渗透测试环境。">
<link rel="stylesheet" href="/static/command.css" media="all" />  
</head>
<body>
<script type="text/javascript" src="/static/jquery-1.12.4.js"></script><div class="container">
    <form class="cmi_input">
        <input type="text" class="command_input">
    </form>

    <div class="terminal">
        <p class="prompt">欢迎使用Web_bash，可以尝试输入GUYS</p>
        <p class="prompt output new-output"></p>
    </div>
</div>
<script>
var inputReady = true;
var input = $('.command_input');
input.focus();
$('.container').on('click', function(e) {
    input.focus();
});

input.on('keyup', function(e) {
    $('.new-output').text(input.val());
});

$('.cmi_input').on('submit', function(e) {
    e.preventDefault();
    var val = $(this).children($('.command_input')).val().toLowerCase();
    var href;

    if (val === 'guys') {
             guys();
    } else {
        all_guys();
    }
});

function all_guys(socket_guys) {
var socket = new WebSocket("ws://" + window.location.host + "/command/");
console.log(socket);
socket.onopen = function () {socket.send($('.command_input').val());}; 
socket.onmessage = function (e) {$('.terminal').append('<p class="prompt">' + e.data +'</p>' );}

}


//function resetForm(withguys) {
//    var message = "抱歉，该命令无法识别"
//    var input = $('.404-input');
//
//    if (withguys) {
//        $('.guys').removeClass('guys');
//        message = "Hi,基友!"
//    }
//
//    $('.new-output').removeClass('new-output');
//    input.val('');
//    $('.terminal').append('<p class="prompt">' + message + '</p><p class="prompt output new-output"></p>');
//
//    $('.new-output').velocity(
//        'scroll'
//    ), {
//        duration: 100
//    }
//}





function guys() {
    $('.terminal').append("<div class='guys'>" +
        "<p style='color:red' class='prompt'>             ██▓▒             ██▄         ▄▄         █▓▓▒░      ▄▄             </p>" +
        "<p style='color:red' class='prompt'>             ██▓▒░            ████▄       █▓▒░       ██▓▒░░   █▓▒░             </p>" +
        "<p style='color:red' class='prompt'>      ▄▄▄▓▓▓███▓▒▄▄▄▄▄█▓▒░    ██  ▀█▄     ██▓▒▒░     ██▓▒░  █▓▒░               </p>" +
        "<p style='color:red' class='prompt'>            ██▓▒░           ████▄▄▄▄█▓▒░░██▓▒░       █▓▒░ █▓▒░                 </p>" +
        "<p style='color:red' class='prompt'>           ██▓▒░█▄    ░       ██▓▒░ ▓   ██▓▒░        ██▓▓▄▄▄███▓▓▒▒▒░░         </p>" +
        "<p style='color:red' class='prompt'>          ██▓▒░  █▓▒░ ░       █▓▒░  ▒  ██▓▒░█▄       ▒█▓▓░ ▄▄     ▒ ░          </p>" +
        "<p style='color:red' class='prompt'>         ██▓▒░ ▓   █▓▒░       ▓▒░ ░ ░ ██▓▒░░██▓▒ ░   ██▓▒░ █▓▒░   ░            </p>" +
        "<p style='color:red' class='prompt'>       ███▓▒░  ▒  ▓ █▓▒░      ▓░  ░  ██▓▒░   ██▓▒░   ██▓▒░  █▓▒░  ▓            </p>" +
        "<p style='color:red' class='prompt'>     ███▓▒░ ▓  ░  ▒   █▓▓▒░   ▓▓▒░░██▓▒░░  ▒   ██▓▒░ █▓▒░ ░   █▓▒░ ▒           </p>" +
        "<p style='color:red' class='prompt'>      ▒  ░  ▒     ░ ▒░        ▒    ▒   ░   ░  ▒ ░ ░  ▒   ░  ▒   █▓▒▒░░░    ░   </p>" +
        "<p style='color:red' class='prompt'>      ░     ░       ░         ░        ░   ░  ░      ░            ░            </p>" +
        "<p style='color:red' class='prompt'>                    ░                 ░                                        </p></div>");

    var lines = $('.guys p');
    $.each(lines, function(index, line) {
        setTimeout(function() {
            $(line).css({"opacity": 5});
            sync_show($(line))
        }, index * 100);
    });
}

//字体动态展示过程
function sync_show(line) {
    var alpha = [';', '.', ',', ':', ';', '~', '`'];
    var animationSpeed = 10;
    var index = 0;
    var string = line.text();
    var splitString = string.split("");
    var copyString = splitString.slice(0);
    var emptyString = copyString.map(function(el) {
        return [alpha[Math.floor(Math.random() * (alpha.length))], index++];
    })
    emptyString = shuffle(emptyString);
    $.each(copyString, function(i, el) {
        var newChar = emptyString[i];
        sync_to(copyString, line, newChar);

        setTimeout(function() {
            sync_timeout(copyString, splitString, newChar, line);
        }, i * animationSpeed);
    })
}
function sync_to(copyString, line, newChar) {
    copyString[newChar[1]] = newChar[0];
    line.text(copyString.join(''));
}
function sync_timeout(copyString, splitString, newChar, line) {
    copyString[newChar[1]] = splitString[newChar[1]];
    line.text(copyString.join(""));
}
function shuffle(o) {
    for (var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
    return o;
};
</script>
</body>
</html>